body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkorange;
}
h1{
   outline: 1px double darkblue; 
   color:darkblue;
   font-family: calibri(body);
   border-radius: 10px;

}
.red{
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    color: orange;
    font-style: italic;
}
.fista{
}
.full{
    padding: 10px;
    background-color: blue;
    box-shadow: 5px 5px 5px 5px #00000073;
    border-radius: 20px;
}
.fact{
    font-style: italic;
    color: red;
    -ms-flex-align: baseline;
    border: #6aff2f; 
    border-radius: 24px;
    outline: 1px double rgb(104, 231, 104);
    padding: 13px;
    background-color: rgba(36, 248, 36, 0.863);
    box-shadow: 5px 5px 5px 5px #080808c7;
    
}

button{
    background-color: #6aff2f;
    text-decoration: none;
}
h2{
    outline: 1px double darkblue;
    color: rgba(15, 15, 150, 0.884);
    font-family:calibri (body);
    border-radius: 10px;  
}
.blue{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    color: red;
    font-style: italic;
  }
  .h3{
    font-size: larger;
  }
  .taar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
  }
  .sde{
    padding: 10px;
    size: 12px;
    background-color: #42b952c7;
    
  }